{{#hover-dropdown
  tagName="li"
  as |dd|
}}

  {{#dd.trigger
       ariaLabel=(t 'nav.environment.cluster')
  }}
    <li class="treeview">
        <a class="app-menu__item" href="#" data-toggle="treeview">
          {{#if (eq pageScope "project")}}
              {{project.cluster.displayName}}
              {{project.displayName}}
          {{else if (eq pageScope "cluster")}}
              {{cluster.displayName}}
          {{else if (eq pageScope "clusters")}}
              {{t 'nav.environment.manage'}}
          {{else if (eq pageScope "global")}}
              {{t 'nav.admin.tab'}}
          {{else}}
              {{pageScope}}
          {{/if}}
        </a>

        <ul class="treeview-menu">
            {{#dd.trigger}}

              {{#each byCluster as |entry idx|}}

                {{#if (gt idx 0)}}
                  <li role="presentation" class="divider">777777</li>
                {{/if}}

                <li>
                  {{#link-to 'authenticated.cluster' entry.cluster.id class="treeview-item"}}
                    <i class="icon icon-cluster icon-fw"></i>
                    {{t 'generic.cluster'}}: {{entry.cluster.displayName}}
                  {{/link-to}}
                </li>

                {{#if entry.cluster.isReady}}

                  {{#each entry.projects as |p|}}

                    <li>
                      {{#link-to 'authenticated.project' p.id class="treeview-item"}}
                        <i class="icon {{p.icon}} icon-fw"></i>

                        {{p.displayName}}
                      {{/link-to}}
                    </li>

                  {{/each}}

                {{else}}

                  <p class="text-small text-muted m-0 p-0 pl-50">{{entry.cluster.displayState}}444444</p>

                {{/if}}

              {{/each}}

              {{#if projectIsMissing}}

                <li role="presentation"></li>
                <li role="presentation" >{{t 'nav.environment.selected'}}3333</li>
                <li>
                  <a href="#" {{action "switchProject" project}} class="treeview-item">
                    <i class="icon {{project.icon}}"></i>
                    &nbsp;
                    {{project.displayName}}
                  </a>
                </li>

              {{/if}}

              <li>
                <a href="{{href-to "global-admin"}}" class="treeview-item">
                  <i class="icon icon-globe icon-fw"></i>
                  {{t 'nav.admin.tab'}}
                </a>
              </li>
            {{/dd.trigger}}


          </ul>
        </li>
  {{/dd.trigger}}

{{/hover-dropdown}}
